.DS_Store
.quickdraw_cache/
.decrypto/
.data/
.aidixit/
.ai/
.cyber_pictures/
backup
package-lock.json
package.json

__pycache__/
*.py[cod]
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml

build/
dist/
*.egg-info/
.eggs/

.venv/
venv/
